[submodule "external/sdl3webgpu"]
	path = external/sdl3webgpu
	url = https://github.com/12354fdw/sdl3webgpu.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
